#                        RECOMMENDATION SYSTEM

## About the data

#### *We have two different csv files. One is rating file & other is movies file.*
#### *We need to merge the two files in order to make analysis out of it.*
#### *After merging, we have below columns with explanations.*


*movieId-  It is reference number /ID for each movie for identification purpose.*

*title-    It is name of movie*	

*genres-   It tells us the about the nature of movie or to which genre it belongs to. (Eg. Crime, Romantic, Comedy etc.)*

*userId	-  It tells the unique reference number of the viewer (movie watcher) who rated movie.*

*rating	-  It is rating(score) provided by user to perticular movie based on the experience.*

*timestamp- Captured the time when the user rated movie.*

## Part 1: Content based recommendation system

### *Here We are finding 50 similar movies that user has entered based on keywords for the movies, Genre of the movie,Director of the movie and the cast using Cosine similarity as a measure of similarity.*

In [234]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [235]:
# To Get the index of the movie that matches the title
def get_t_from_i(index):
    return df[df.index == index]['title'].values[0]

def get_i_from_t(title):
    return df[df.title == title]['index'].values[0]

In [236]:
df= pd.read_csv("D:\\Praxis\\Material\\Term 2\\ML\\Recommendation system\\movie_dataset.csv")
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [237]:
df.shape

(4803, 24)

In [238]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [239]:
features= ['keywords','cast','genres','director']

In [240]:
for i in features:
    df[i] = df[i].fillna("")

In [241]:
def combine_features(row):
    return row['keywords'] +" " +row['cast']+" "+row['genres']+" "+row['director']

In [242]:
df['combine_features'] = df.apply(combine_features,axis=1)

In [243]:
cv = CountVectorizer()

count_matrix = cv.fit_transform(df['combine_features'])

cos_sim = cosine_similarity(count_matrix)

In [244]:
movie_user_likes = input("ENTER A MOVIE YOU WOULD LIKE RECOMMENDATION FOR ? ==>")
    
movie_index = get_i_from_t(movie_user_likes)

#Get the pairwsie similarity scores of all movies with that movie
similar_movies = list(enumerate(cos_sim[movie_index]))
# Sort the movies based on the similarity scores
sorted_similar_movies = sorted(similar_movies,key= lambda x:x[1],reverse= True)

# Return the top 50 most similar movies
i=0
for movie in sorted_similar_movies:
    print(get_t_from_i(movie[0]))
    i= i+1
    if i>50:
        break

ENTER A MOVIE YOU WOULD LIKE RECOMMENDATION FOR ? ==>Avatar
Avatar
Guardians of the Galaxy
Aliens
Star Wars: Clone Wars: Volume 1
Star Trek Into Darkness
Star Trek Beyond
Alien
Lockout
Jason X
The Helix... Loaded
Moonraker
Planet of the Apes
Galaxy Quest
Gravity
Alien³
Jupiter Ascending
The Wolverine
Silent Running
Zathura: A Space Adventure
Trekkies
Cargo
Wing Commander
Star Trek
Lost in Space
Babylon A.D.
The Fifth Element
Oblivion
Titan A.E.
AVP: Alien vs. Predator
The Empire Strikes Back
Dragonball Evolution
Superman Returns
Divergent
John Carter
The Black Hole
The Ice Pirates
Memoirs of an Invisible Man
Starship Troopers
The Astronaut's Wife
Machete Kills
Soldier
The Abyss
Damnation Alley
Men in Black
Space Cowboys
Space Dogs
The Time Machine
Sheena
Captain America: Civil War
Star Trek: Insurrection
Oz: The Great and Powerful

## Part 2: Using Nearest Neighbour clustering

In [245]:
def recommender(t):
    import numpy as np
    import pandas as pd
    import os 
    
    # reading the data
    # you need to change the directory according to your database location
    data = pd.read_csv("D:\\Praxis\\Material\\Term 2\\ML\\Recommendation system\\movies.csv")
    # dropping the ID columns as we dont need it 
    data = data.drop('movieId',axis=1)
    
    # making the title of movies as index and sepearting the genres and making different
    # columns for each unique genre and making a dense matrix
    newt1 = data.set_index(['title']).genres.str.split('|', expand = True).stack()
    final_movies = pd.get_dummies(newt1).groupby(level =0 ).sum()
    
    # using csr_martrix function to convert above dense matrix into sparse matrix
    from scipy.sparse import csr_matrix
    movie_features_df_matrix = csr_matrix(final_movies.values)

    # using Nearest Neighbour to make clusters based on genres
    from sklearn.neighbors import NearestNeighbors
    model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute') # using cosine similarity as distance metric
    model_knn.fit(movie_features_df_matrix)
    
    # this is for finding the index number of the movie entered by the user
    for position, item in enumerate(final_movies.index):
        if item == t:
            query_index = position # this contains the index
            
      
    # storing the distance and indexes of the nearest movies to the entered movie
    distances, indices = model_knn.kneighbors(final_movies.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 11)
    
    # for printing the top 10 similar movies to the entered movie
    for i in range(0, len(distances.flatten())):
        if i == 0:
            print('Recommendations for {0}:\n'.format(final_movies.index[query_index])) # beacuse the first movie will always be the movie entered
        else:
            print('{0}: {1}'.format(i, final_movies.index[indices.flatten()[i]]))

In [246]:
recommender('Tom and Huck (1995)')  # need to give movie name in string format

Recommendations for Tom and Huck (1995):

1: Wild America (1997)
2: Lassie (1994)
3: Alaska (1996)
4: Treasure Island (1950)
5: Tom and Huck (1995)
6: Far From Home: The Adventures of Yellow Dog (1995)
7: Casper (1995)
8: Charlie, the Lonesome Cougar (1967)
9: Journey of Natty Gann, The (1985)
10: Incredible Journey, The (1963)

### Part 3: Collaborative recommendation system

In [247]:
rating= pd.read_csv("D:\\Praxis\\Material\\Term 2\\ML\\Recommendation system\\ratings_small.csv")

In [248]:
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [249]:
movies= pd.read_csv("D:\\Praxis\\Material\\Term 2\\ML\\Recommendation system\\movies.csv")
movies.describe()
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [250]:
#Merging reating and movies files
ratings= pd.merge(movies, rating)

In [251]:
#Looking as merged data
ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091

In [252]:
def check_nan_percent(ratings):
    columns_null_count = ratings.isnull().sum()
    null_percent_df = pd.DataFrame({'null_percent': (columns_null_count/ratings.shape[0])*100, 'total_null': columns_null_count})
    return null_percent_df

In [253]:
check_nan_percent(ratings)

           null_percent  total_null
movieId             0.0           0
title               0.0           0
genres              0.0           0
userId              0.0           0
rating              0.0           0
timestamp           0.0           0

In [254]:
#Dropping columns "Genre" & "TimeStamp" since they are not useful for colaborative based recommendation system

ratings= ratings.drop(['genres','timestamp'], axis=1)

In [255]:
#View of data
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       7     3.0
1        1  Toy Story (1995)       9     4.0
2        1  Toy Story (1995)      13     5.0
3        1  Toy Story (1995)      15     2.0
4        1  Toy Story (1995)      19     3.0

In [256]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97243 entries, 0 to 97242
Data columns (total 4 columns):
movieId    97243 non-null int64
title      97243 non-null object
userId     97243 non-null int64
rating     97243 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 3.7+ MB

In [141]:
ratings.shape

(97243, 4)

In [257]:
# Creating pivot table where rows contain userID, column contains movie titles

user_rating= ratings.pivot_table(index=['userId'], columns= ['title'], values= 'rating')
user_rating

title,'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),...,Zoom (2006),Zootopia (2016),Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [258]:
#Shape of data.. Contains 671 unique users and 7062 unique movies in dataset
user_rating.shape

(671, 7062)

In [259]:
# WE cant have all the movies with lesser number of ratings provided. 
# We have 671 unique users in the dataset, so fix 2% of 671= 12 approx as minimum count for each movie to qualify for test.

user_rating_threshold= user_rating.dropna(thresh=12, axis= 1).fillna(0)

In [260]:
#View data. Afte removing non significant movies, we have 1848 unique movies.
user_rating_threshold.head()

user_rating_threshold.shape

(671, 1949)

## Pearson similarity

In [262]:
#We first fit the recommendation engine with Pearson similairty technique.
item_simlilarity_df= user_rating_threshold.corr(method='pearson')

item_simlilarity_df.head(10)

title,"'burbs, The (1989)",(500) Days of Summer (2009),...And Justice for All (1979),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),13 Going on 30 (2004),...,Young Guns (1988),Young Guns II (1990),Zack and Miri Make a Porno (2008),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,0.049358,0.183453,0.082564,0.101948,0.162694,0.067309,0.020832,0.105458,0.111881,...,0.220484,0.297098,0.015872,0.203206,0.082473,0.086927,0.191698,0.057206,0.099502,0.308778
(500) Days of Summer (2009),0.049358,1.000000,0.026848,0.230095,0.078582,0.040188,0.156769,0.117532,0.380868,0.181486,...,-0.022980,0.000182,0.172106,-0.034352,0.279399,0.348115,0.161343,-0.029451,0.107851,0.013626
...And Justice for All (1979),0.183453,0.026848,1.000000,0.040358,0.141549,0.334189,0.283803,-0.017748,0.069345,0.019720,...,0.058986,0.013836,-0.018287,0.081699,0.036289,0.007654,0.036299,0.132239,-0.014250,0.220807
10 Things I Hate About You (1999),0.082564,0.230095,0.040358,1.000000,0.180185,0.182573,0.065632,0.027600,0.106938,0.425513,...,0.030481,0.031471,0.178147,0.121883,0.170970,0.126995,0.256138,0.101245,0.173165,0.171767
101 Dalmatians (1996),0.101948,0.078582,0.141549,0.180185,1.000000,0.353796,0.045265,-0.030411,0.037087,0.130411,...,0.076132,0.098240,0.008197,0.089189,0.053503,0.011000,0.037184,0.024336,0.023662,0.123471
101 Dalmatians (One Hundred and One Dalmatians) (1961),0.162694,0.040188,0.334189,0.182573,0.353796,1.000000,0.224314,-0.032616,0.061643,0.141366,...,0.084174,0.084489,0.043012,0.144737,0.124340,0.008686,0.047953,0.059027,0.097656,0.275942
12 Angry Men (1957),0.067309,0.156769,0.283803,0.065632,0.045265,0.224314,1.000000,0.088354,0.098824,0.027449,...,0.114310,0.090844,0.073613,0.143684,0.143142,0.043922,0.067237,0.065723,0.066282,0.178520
12 Years a Slave (2013),0.020832,0.117532,-0.017748,0.027600,-0.030411,-0.032616,0.088354,1.000000,0.367702,-0.019489,...,-0.026650,-0.018083,0.042737,-0.017676,0.246747,0.244396,-0.008146,-0.024077,0.022277,-0.028259
127 Hours (2010),0.105458,0.380868,0.069345,0.106938,0.037087,0.061643,0.098824,0.367702,1.000000,0.133730,...,-0.036528,-0.024786,0.066544,-0.024229,0.409376,0.313052,0.152379,-0.004714,0.020401,-0.010998
13 Going on 30 (2004),0.111881,0.181486,0.019720,0.425513,0.130411,0.141366,0.027449,-0.019489,0.133730,1.000000,...,-0.029098,-0.019744,0.185827,0.002277,0.143491,0.086656,0.206364,-0.011740,0.191538,0.036770

### *Below algorithm takes two arguments, viz. Name of movie & Rating of user for the same movie.*

*Interesting thing about below code is, we can set threshold for rating, below which movie is considered to be bad. So if user rates movie lesser than threshold set, machine has to recommend a movie which is totally different in nature than what he watched.*

*Logic is, we multiply whole series corresponding to movie by a negative number if rating is lesser than threshold. Hence we get recomendation which are different than the movie rated. If the rating of movie is more than the threshold then we recomend the similar movies.*

In [263]:
def get_similar_movies_pearson(movies_name, rating):
    similar_score= item_simlilarity_df[movies_name]*(rating-2.5)
    similar_score= similar_score.sort_values(ascending=False)
    return similar_score.head(10)

In [264]:
#Keeping the list of movies watched and respective rating in tuples. 
user= [('Toy Story (1995)',1),('127 Hours (2010)',4.5)]
        
similar_movie= pd.DataFrame()

for movie, rating in user:
    similar_movie= similar_movie.append(get_similar_movies_pearson(movie, rating), ignore_index=True)
    
# Recommending top 10 movies.

similar_movie.head(10)
similar_movie.sum().sort_values(ascending=False).head(10)

127 Hours (2010)              2.000000
28 Weeks Later (2007)         1.068473
Social Network, The (2010)    1.003165
True Grit (2010)              0.925577
Into the Wild (2007)          0.893352
Cloverfield (2008)            0.873975
Source Code (2011)            0.863442
Moneyball (2011)              0.859272
50/50 (2011)                  0.844711
Super 8 (2011)                0.841764
dtype: float64

### Below function does not take rating as an argument. Only takes name of movie. Recomends user based on similarity of movies (Item to Item similarity).

In [265]:
def get_similar_test(movies_name):
    similar_score= item_simlilarity_df[movies_name]
    similar_score= similar_score.sort_values(ascending=False)
    return similar_score

In [266]:
user= ['Toy Story (1995)']
        
similar_movie_test= pd.DataFrame()

for movie in user:
    similar_movie= similar_movie_test.append(get_similar_test(movie), ignore_index=True)
    
    
similar_movie.head(10)
similar_movie.sum().sort_values(ascending=False).head(10)

Toy Story (1995)                              1.000000
Toy Story 2 (1999)                            0.474141
Bug's Life, A (1998)                          0.393799
Groundhog Day (1993)                          0.372371
Monsters, Inc. (2001)                         0.366277
Independence Day (a.k.a. ID4) (1996)          0.356876
Finding Nemo (2003)                           0.348941
Incredibles, The (2004)                       0.346066
Shrek (2001)                                  0.344068
Willy Wonka & the Chocolate Factory (1971)    0.320002
dtype: float64

## Cosine similarity

In [267]:
#Importing packages.

from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [268]:

movies_2= movies.copy()
ratings_1= ratings.copy()

movies_2.sample(4)

,movieId,title,genres
3162,4254,Crocodile Dundee in Los Angeles (2001),Comedy|Drama
758,996,Last Man Standing (1996),Action|Crime|Drama|Thriller
953,1254,"Treasure of the Sierra Madre, The (1948)",Action|Adventure|Drama|Western
5980,36509,"Cave, The (2005)",Action|Adventure|Horror|Mystery|Sci-Fi|Thriller

In [269]:
movies_2.isna().sum()

movieId    0
title      0
genres     0
dtype: int64

In [270]:
movies_2['genres'] = movies['genres'].fillna('')

In [271]:
data_pivot=ratings_1.pivot_table(index="userId", columns= "title", values="rating", aggfunc="sum")

data_pivot

title,'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...And Justice for All (1979),1-900 (06) (1994),...,Zoom (2006),Zootopia (2016),Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [272]:
data_pivot_2= data_pivot.dropna(thresh=10, axis= 1).fillna(0)

In [273]:
data_pivot_2.shape

(671, 2243)

In [274]:
data_pivot_2.sample(5)

title,"'burbs, The (1989)",(500) Days of Summer (2009),...And Justice for All (1979),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Young Guns II (1990),Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
444,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
332,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
71,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0
30,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Since we have replaced NA values with 0, we need to standardize all ratings to make sure that there is no bias. 

### New_Rating= (Rating- Mean_Rating)/(Max.Rating-Min.Rating)
### It does mean of each row =0, and range =1.

In [275]:
def standardize(row):
    new_row= (row- row.mean() )/ (row.max()- row.min())
    return new_row

In [276]:
data_pivot_STD= data_pivot_2.apply(standardize, axis=1)

In [277]:
data_pivot_STD.describe()

title,"'burbs, The (1989)",(500) Days of Summer (2009),...And Justice for All (1979),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Young Guns II (1990),Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
count,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,...,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000,671.000000
mean,-0.022024,0.010980,-0.025005,0.020052,-0.006541,0.002020,-0.032932,0.055721,-0.025154,-0.014518,...,-0.027538,-0.026644,-0.027538,-0.024558,-0.016036,0.000888,0.004958,-0.016825,-0.022239,-0.009058
std,0.101043,0.188746,0.099618,0.196687,0.143399,0.157476,0.074597,0.260154,0.113833,0.133252,...,0.083184,0.090474,0.090595,0.106019,0.122574,0.164211,0.160230,0.119223,0.097429,0.127960
min,-0.319706,-0.367989,-0.319706,-0.367989,-0.337628,-0.319706,-0.367989,-0.367989,-0.367989,-0.367989,...,-0.337628,-0.367989,-0.367989,-0.337628,-0.367989,-0.367989,-0.367989,-0.319706,-0.367989,-0.337628
25%,-0.042443,-0.040883,-0.043446,-0.038587,-0.041708,-0.039924,-0.044338,-0.037428,-0.043825,-0.042020,...,-0.043156,-0.043535,-0.043535,-0.043446,-0.041752,-0.040481,-0.038676,-0.041752,-0.041997,-0.041061
50%,-0.020018,-0.017655,-0.020419,-0.017031,-0.018413,-0.017744,-0.021355,-0.016095,-0.020419,-0.019126,...,-0.020241,-0.020062,-0.020464,-0.020241,-0.019572,-0.017744,-0.017209,-0.019126,-0.019706,-0.018190
75%,-0.010254,-0.009140,-0.010499,-0.008560,-0.009519,-0.009251,-0.010633,-0.008025,-0.010499,-0.010031,...,-0.010455,-0.010455,-0.010522,-0.010499,-0.010210,-0.009474,-0.009095,-0.009987,-0.010254,-0.009808
max,0.831387,0.970709,0.980027,0.994600,0.978243,0.942399,0.711738,0.983148,0.914668,0.965582,...,0.717789,0.713375,0.831922,0.956130,0.883950,0.976817,0.978333,0.956130,0.810878,0.994600

In [278]:
data_pivot_STD

title,"'burbs, The (1989)",(500) Days of Summer (2009),...And Justice for All (1979),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Young Guns II (1990),Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,-0.005684,-0.005684,-0.005684,-0.005684,-0.005684,-0.005684,-0.005684,-0.005684,-0.005684,-0.005684,...,-0.005684,-0.005684,-0.005684,-0.005684,-0.005684,-0.005684,-0.005684,-0.005684,-0.005684,-0.005684
2,-0.023629,-0.023629,-0.023629,-0.023629,-0.023629,-0.023629,-0.023629,-0.023629,-0.023629,-0.023629,...,-0.023629,-0.023629,-0.023629,-0.023629,-0.023629,-0.023629,-0.023629,-0.023629,-0.023629,-0.023629
3,-0.014891,-0.014891,-0.014891,-0.014891,-0.014891,-0.014891,-0.014891,-0.014891,-0.014891,-0.014891,...,-0.014891,-0.014891,-0.014891,-0.014891,-0.014891,-0.014891,-0.014891,-0.014891,-0.014891,-0.014891
4,-0.073830,-0.073830,-0.073830,-0.073830,-0.073830,0.926170,-0.073830,-0.073830,-0.073830,-0.073830,...,-0.073830,-0.073830,-0.073830,-0.073830,-0.073830,-0.073830,-0.073830,-0.073830,-0.073830,-0.073830
5,-0.034864,-0.034864,-0.034864,-0.034864,-0.034864,-0.034864,-0.034864,-0.034864,-0.034864,-0.034864,...,-0.034864,-0.034864,-0.034864,-0.034864,-0.034864,-0.034864,-0.034864,-0.034864,-0.034864,-0.034864
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,-0.021132,-0.021132,-0.021132,-0.021132,-0.021132,-0.021132,-0.021132,-0.021132,-0.021132,-0.021132,...,-0.021132,-0.021132,-0.021132,-0.021132,-0.021132,-0.021132,-0.021132,-0.021132,-0.021132,-0.021132
668,-0.006242,-0.006242,-0.006242,-0.006242,-0.006242,-0.006242,-0.006242,-0.006242,-0.006242,-0.006242,...,-0.006242,-0.006242,-0.006242,-0.006242,-0.006242,-0.006242,-0.006242,-0.006242,-0.006242,-0.006242
669,-0.010432,-0.010432,-0.010432,-0.010432,-0.010432,-0.010432,-0.010432,-0.010432,-0.010432,-0.010432,...,-0.010432,-0.010432,-0.010432,-0.010432,-0.010432,-0.010432,-0.010432,-0.010432,-0.010432,-0.010432
670,-0.010522,-0.010522,-0.010522,-0.010522,-0.010522,-0.010522,-0.010522,-0.010522,-0.010522,-0.010522,...,-0.010522,-0.010522,-0.010522,-0.010522,-0.010522,-0.010522,-0.010522,-0.010522,-0.010522,-0.010522
671,-0.038654,-0.038654,-0.038654,-0.038654,-0.038654,-0.038654,-0.038654,-0.038654,-0.038654,-0.038654,...,-0.038654,-0.038654,-0.038654,-0.038654,-0.038654,-0.038654,-0.038654,-0.038654,-0.038654,-0.038654

In [279]:
item_similarity= cosine_similarity(data_pivot_STD.T)

In [280]:
print(item_similarity)

[[ 1.         -0.03365553  0.12747319 ... -0.00184052  0.07647695
   0.17333772]
 [-0.03365553  1.         -0.0799066  ... -0.1142292   0.02864896
  -0.11607265]
 [ 0.12747319 -0.0799066   1.         ...  0.05139703 -0.07403389
   0.05119838]
 ...
 [-0.00184052 -0.1142292   0.05139703 ...  1.         -0.06719734
  -0.01745271]
 [ 0.07647695  0.02864896 -0.07403389 ... -0.06719734  1.
  -0.05072027]
 [ 0.17333772 -0.11607265  0.05119838 ... -0.01745271 -0.05072027
   1.        ]]

In [281]:
item_similarity_df= pd.DataFrame(item_similarity, index= data_pivot_STD.columns, columns=data_pivot_STD.columns )

In [282]:
item_similarity_df

title,"'burbs, The (1989)",(500) Days of Summer (2009),...And Justice for All (1979),10 Things I Hate About You (1999),101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),102 Dalmatians (2000),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Young Guns II (1990),Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,-0.033656,0.127473,-0.037318,0.079539,0.029906,0.171207,-0.123114,0.100418,0.078545,...,0.283348,0.016574,0.009437,0.167850,-0.037624,-0.016085,0.043666,-0.001841,0.076477,0.173338
(500) Days of Summer (2009),-0.033656,1.000000,-0.079907,0.178158,0.038729,-0.053161,0.031998,0.085255,0.091027,0.335092,...,-0.097872,0.092184,0.259687,-0.127025,0.191392,0.293553,0.070658,-0.114229,0.028649,-0.116073
...And Justice for All (1979),0.127473,-0.079907,1.000000,-0.104367,0.097420,0.201844,0.140531,0.090199,0.036448,0.016343,...,-0.039513,-0.052449,-0.056294,0.012949,-0.117670,-0.125813,-0.153529,0.051397,-0.074034,0.051198
10 Things I Hate About You (1999),-0.037318,0.178158,-0.104367,1.000000,0.126000,0.090377,0.044808,-0.010979,-0.030826,0.026599,...,-0.114298,0.053712,-0.015571,0.000590,0.047663,0.043202,0.168754,-0.006432,0.059620,0.051994
101 Dalmatians (1996),0.079539,0.038729,0.097420,0.126000,1.000000,0.292911,0.195524,-0.061141,0.029104,0.022856,...,0.080164,0.004791,-0.012401,0.058363,-0.028356,-0.051152,-0.058410,-0.013835,0.010395,0.022361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zombieland (2009),-0.016085,0.293553,-0.125813,0.043202,-0.051152,-0.119041,-0.033609,-0.067595,0.203649,0.247575,...,-0.088011,0.098222,0.224879,-0.133063,0.363805,1.000000,0.030110,-0.107521,0.016422,-0.087735
Zoolander (2001),0.043666,0.070658,-0.153529,0.168754,-0.058410,-0.109051,-0.044600,-0.057063,-0.088628,0.038992,...,-0.076549,0.085617,0.042373,-0.125350,0.112355,0.030110,1.000000,-0.079361,0.222724,0.041354
eXistenZ (1999),-0.001841,-0.114229,0.051397,-0.006432,-0.013835,-0.075955,0.089087,-0.096491,0.018058,-0.052882,...,0.081921,0.067941,0.006619,0.220329,-0.054512,-0.107521,-0.079361,1.000000,-0.067197,-0.017453
xXx (2002),0.076477,0.028649,-0.074034,0.059620,0.010395,-0.040782,0.204097,-0.128323,0.114623,-0.001882,...,0.000694,0.206141,0.193280,0.046566,0.106471,0.016422,0.222724,-0.067197,1.000000,-0.050720
¡Three Amigos! (1986),0.173338,-0.116073,0.051198,0.051994,0.022361,0.128628,-0.078153,0.019899,-0.096213,-0.144588,...,0.343248,-0.008257,-0.060616,0.145449,-0.028004,-0.087735,0.041354,-0.017453,-0.050720,1.000000

In [283]:
# Lets create recomendation 

def get_sim_movie_cosine(movie, rating):
    similar_score= item_similarity_df[movie]*rating
    similar_score= similar_score.sort_values(ascending=False)
    return similar_score

"""This method works fine if only user likes the movie he entered. What if user does not like a movie?
Then we dont want to suggest same kind of movies he watched. We need to set threshold value, below which we consider as bad movie.
We mupltiply the consine similarity scores by difference factor, so that we get appropriate movie recomendation
    
"""

'This method works fine if only user likes the movie he entered. What if user does not like a movie?\nThen we dont want to suggest same kind of movies he watched. We need to set threshold value, below which we consider as bad movie.\nWe mupltiply the consine similarity scores by difference factor, so that we get appropriate movie recomendation\n    \n'

In [284]:

print(get_sim_movie_cosine('12 Angry Men (1957)',5))

title
12 Angry Men (1957)                  5.000000
Citizen Kane (1941)                  1.861269
Amadeus (1984)                       1.809291
It's a Wonderful Life (1946)         1.676731
North by Northwest (1959)            1.649829
                                       ...
Battlefield Earth (2000)            -1.295265
Very Brady Sequel, A (1996)         -1.302566
Children of the Corn (1984)         -1.306554
Howard the Duck (1986)              -1.310847
Stop! Or My Mom Will Shoot (1992)   -1.361545
Name: 12 Angry Men (1957), Length: 2243, dtype: float64

In [285]:
"""We are setting threshold as 2.5, if user rates any movie lesser than that we understand that we 
should recommend other type of movie"""


def get_sim_movie_cosine_robust(movie, rating):
    similar_score= item_similarity_df[movie]*(rating-2.5) # Setting rating=2.5 as threshold.
    similar_score= similar_score.sort_values(ascending=False)
    return similar_score.head(10)

## Testing of codes

In [286]:
get_sim_movie_cosine_robust('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',4)

title
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)    1.500000
S.W.A.T. (2003)                                          0.884661
Transporter, The (2002)                                  0.844837
Fun with Dick and Jane (2005)                            0.807522
Snakes on a Plane (2006)                                 0.791239
102 Dalmatians (2000)                                    0.770815
Scary Movie 3 (2003)                                     0.752243
Superman Returns (2006)                                  0.751038
Kingdom of Heaven (2005)                                 0.749492
Green Street Hooligans (a.k.a. Hooligans) (2005)         0.734145
Name: 2 Fast 2 Furious (Fast and the Furious 2, The) (2003), dtype: float64

In [287]:
get_similar_movies_pearson('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',4)

title
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)    1.500000
Transporter, The (2002)                                  0.778796
28 Weeks Later (2007)                                    0.591597
Brick (2005)                                             0.510799
50 First Dates (2004)                                    0.508866
Starsky & Hutch (2004)                                   0.501802
Identity (2003)                                          0.497830
Anger Management (2003)                                  0.492566
Superman Returns (2006)                                  0.481690
Resident Evil (2002)                                     0.478715
Name: 2 Fast 2 Furious (Fast and the Furious 2, The) (2003), dtype: float64

### The end