### Group details

##### Harsha Chinnamulagund : E20011 
##### Prajwal Santoshkumar Ballal: E20021
##### Sarang Gokte:  E20028

## About the data

#### *We have two different csv files. One is rating file & other is movies file.*
#### *We need to merge the two files in order to make analysis out of it.*
#### *After merging, we have below columns with explanations.*


*movieId-  It is reference number /ID for each movie for identification purpose.*

*title-    It is name of movie*	

*genres-   It tells us the about the nature of movie or to which genre it belongs to. (Eg. Crime, Romantic, Comedy etc.)*

*userId	-  It tells the unique reference number of the viewer (movie watcher) who rated movie.*

*rating	-  It is rating(score) provided by user to perticular movie based on the experience.*

*timestamp- Captured the time when the user rated movie.*

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
ratings.describe()

NameError: name 'ratings' is not defined

In [ ]:
def check_nan_percent(ratings):
    columns_null_count = ratings.isnull().sum()
    null_percent_df = pd.DataFrame({'null_percent': (columns_null_count/ratings.shape[0])*100, 'total_null': columns_null_count})
    return null_percent_df

In [142]:
check_nan_percent(ratings)

           null_percent  total_null
movieId             0.0           0
title               0.0           0
genres              0.0           0
userId              0.0           0
rating              0.0           0
timestamp           0.0           0

In [168]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100836 entries, 0 to 100835
Data columns (total 6 columns):
movieId      100836 non-null int64
title        100836 non-null object
genres       100836 non-null object
userId       100836 non-null int64
rating       100836 non-null float64
timestamp    100836 non-null int64
dtypes: float64(1), int64(3), object(2)
memory usage: 5.4+ MB

## Part 1: Content based recommendation system

### *Here We are finding 50 similar movies that user has entered based on keywords for the movies, Genre of the movie,Director of the movie and the cast using Cosine similarity as a measure of similarity.*

In [5]:
import pandas as pd
import numpy as np 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [14]:
# To Get the index of the movie that matches the title
def get_t_from_i(index):
    return df[df.index == index]['title'].values[0]

def get_i_from_t(title):
    return df[df.title == title]['index'].values[0]

In [143]:
df= pd.read_csv("C:\\Users\\Asus\\Desktop\\Python\\Gourabh Python\\Datasets\\movie_dataset.csv")
df.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [9]:
df.shape

(4803, 24)

In [11]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director'],
      dtype='object')

In [15]:
features= ['keywords','cast','genres','director']

In [19]:
for i in features:
    df[i] = df[i].fillna("")

In [17]:
def combine_features(row):
    return row['keywords'] +" " +row['cast']+" "+row['genres']+" "+row['director']

In [20]:
df['combine_features'] = df.apply(combine_features,axis=1)

In [21]:
cv = CountVectorizer()

count_matrix = cv.fit_transform(df['combine_features'])

cos_sim = cosine_similarity(count_matrix)

In [23]:
movie_user_likes = input("ENTER A MOVIE YOU WOULD LIKE RECOMMENDATION FOR ? ==>")
    
movie_index = get_index_from_title(movie_user_likes)

#Get the pairwsie similarity scores of all movies with that movie
similar_movies = list(enumerate(cos_sim[movie_index]))
# Sort the movies based on the similarity scores
sorted_similar_movies = sorted(similar_movies,key= lambda x:x[1],reverse= True)

# Return the top 50 most similar movies
i=0
for movie in sorted_similar_movies:
    print(get_title_from_index(movie[0]))
    i= i+1
    if i>50:
        break

ENTER A MOVIE YOU WOULD LIKE RECOMMENDATION FOR ? ==>Avatar
Avatar
Guardians of the Galaxy
Aliens
Star Wars: Clone Wars: Volume 1
Star Trek Into Darkness
Star Trek Beyond
Alien
Lockout
Jason X
The Helix... Loaded
Moonraker
Planet of the Apes
Galaxy Quest
Gravity
Alien³
Jupiter Ascending
The Wolverine
Silent Running
Zathura: A Space Adventure
Trekkies
Cargo
Wing Commander
Star Trek
Lost in Space
Babylon A.D.
The Fifth Element
Oblivion
Titan A.E.
AVP: Alien vs. Predator
The Empire Strikes Back
Dragonball Evolution
Superman Returns
Divergent
John Carter
The Black Hole
The Ice Pirates
Memoirs of an Invisible Man
Starship Troopers
The Astronaut's Wife
Machete Kills
Soldier
The Abyss
Damnation Alley
Men in Black
Space Cowboys
Space Dogs
The Time Machine
Sheena
Captain America: Civil War
Star Trek: Insurrection
Oz: The Great and Powerful
The One
X-Men: Days of Future Past
Men in Black II
Return of the Jedi
Treasure Planet
Resident Evil
Star Trek III: The Search for Spock
Capricorn One
Elysium
Event Horizon
V for Vendetta
Stargate: The Ark of Truth
Captain America: The Winter Soldier
X-Men: First Class
Resident Evil: Retribution
Alien: Resurrection
The Box
Galaxina
G.I. Joe: The Rise of Cobra
Clash of the Titans
Terminator 2: Judgment Day
Pixels
Sunshine
Underworld: Rise of the Lycans
The Hunt for Red October
Mortal Kombat: Annihilation
Gettysburg
Invaders from Mars
Mad Max: Fury Road
Teenage Mutant Ninja Turtles
Insurgent
Allegiant
Jurassic Park III
Red Planet
Mystery Men
Aliens vs Predator: Requiem
Star Trek VI: The Undiscovered Country
Lifeforce
Daybreakers
The Terminator
Spider-Man 3
Iron Man 3
Terminator Salvation
Final Fantasy: The Spirits Within
Timeline
The League of Extraordinary Gentlemen
Deep Rising
Spy Kids 3-D: Game Over
The Covenant
Star Trek II: The Wrath of Khan

## Part 2: Using Nearest Neighbour clustering

In [21]:
def recommender(t):
    import numpy as np
    import pandas as pd
    import os 
    
    # reading the data
    # you need to change the directory according to your database location
    data = pd.read_csv("C:\\Users\\Asus\\Desktop\\Python\\Gourabh Python\\Datasets\\ml-latest-small\\movies.csv")
    # dropping the ID columns as we dont need it 
    data = data.drop('movieId',axis=1)
    
    # making the title of movies as index and sepearting the genres and making different
    # columns for each unique genre and making a dense matrix
    newt1 = data.set_index(['title']).genres.str.split('|', expand = True).stack()
    final_movies = pd.get_dummies(newt1).groupby(level =0 ).sum()
    
    # using csr_martrix function to convert above dense matrix into sparse matrix
    from scipy.sparse import csr_matrix
    movie_features_df_matrix = csr_matrix(final_movies.values)

    # using Nearest Neighbour to make clusters based on genres
    from sklearn.neighbors import NearestNeighbors
    model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute') # using cosine similarity as distance metric
    model_knn.fit(movie_features_df_matrix)
    
    # this is for finding the index number of the movie entered by the user
    for position, item in enumerate(final_movies.index):
        if item == t:
            query_index = position # this contains the index
            
      
    # storing the distance and indexes of the nearest movies to the entered movie
    distances, indices = model_knn.kneighbors(final_movies.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 11)
    
    # for printing the top 10 similar movies to the entered movie
    for i in range(0, len(distances.flatten())):
        if i == 0:
            print('Recommendations for {0}:\n'.format(final_movies.index[query_index])) # beacuse the first movie will always be the movie entered
        else:
            print('{0}: {1}'.format(i, final_movies.index[indices.flatten()[i]]))

In [22]:
recommender('Tom and Huck (1995)')  # need to give movie name in string format

Recommendations for Tom and Huck (1995):

1: Wild America (1997)
2: Lassie (1994)
3: Alaska (1996)
4: Treasure Island (1950)
5: Tom and Huck (1995)
6: Far From Home: The Adventures of Yellow Dog (1995)
7: Casper (1995)
8: Charlie, the Lonesome Cougar (1967)
9: Journey of Natty Gann, The (1985)
10: Incredible Journey, The (1963)

### Part 3: Collaborative recommendation system

In [3]:
#Importing library
import pandas as pd

In [130]:
rating= pd.read_csv("ratings.csv")

rating.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [131]:
movies= pd.read_csv("movies.csv")
movies.describe()
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [132]:
#Merging reating and movies files
ratings= pd.merge(movies, rating)

In [133]:
#Looking as merged data
ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [100]:
#Dropping columns "Genre" & "TimeStamp" since they are not useful for colaborative based recommendation system

ratings= ratings.drop(['genres','timestamp'], axis=1)

In [101]:
#View of data
ratings.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [102]:
ratings.shape

(100836, 4)

In [103]:
# Creating pivot table where rows contain userID, column contains movie titles

user_rating= ratings.pivot_table(index=['userId'], columns= ['title'], values= 'rating')
user_rating

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [104]:
#Shape of data.. Contains 610 unique users and 9719 unique movies in dataset
user_rating.shape

(610, 9719)

In [105]:
# WE cant have all the movies with lesser number of ratings provided. 
# We have 610 unique users in the dataset, so fix 2% of 610= 12 approx as minimum count for each movie to qualify for test.

user_rating_threshold= user_rating.dropna(thresh=12, axis= 1).fillna(0)

In [106]:
#View data. Afte removing non significant movies, we have 1967 unique movies.
user_rating_threshold.head()

user_rating_threshold.shape

(610, 1967)

## Pearson similarity

In [107]:
#We first fit the recommendation engine with Pearson similairty technique.
item_simlilarity_df= user_rating_threshold.corr(method='pearson')

item_simlilarity_df.head(10)

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,0.063117,-0.023768,0.143482,0.011998,0.087931,0.224052,0.034223,0.009277,0.008331,...,0.017477,0.032470,0.134701,0.153158,0.101301,0.049897,0.003233,0.187953,0.062174,0.353194
(500) Days of Summer (2009),0.063117,1.000000,0.142471,0.273989,0.193960,0.148903,0.142141,0.159756,0.135486,0.200135,...,0.374515,0.178655,0.068407,0.414585,0.355723,0.252226,0.216007,0.053614,0.241092,0.125905
10 Cloverfield Lane (2016),-0.023768,0.142471,1.000000,-0.005799,0.112396,0.006139,-0.016835,0.031704,-0.024275,0.272943,...,0.242663,0.099059,-0.023477,0.272347,0.241751,0.195054,0.319371,0.177846,0.096638,0.002733
10 Things I Hate About You (1999),0.143482,0.273989,-0.005799,1.000000,0.244670,0.223481,0.211473,0.011784,0.091964,0.043383,...,0.243118,0.104858,0.132460,0.091853,0.158637,0.281934,0.050031,0.121029,0.130813,0.110612
"10,000 BC (2008)",0.011998,0.193960,0.112396,0.244670,1.000000,0.234459,0.119132,0.059187,-0.025882,0.089328,...,0.260261,0.087592,0.094913,0.184521,0.242299,0.240231,0.094773,0.088045,0.203002,0.083518
101 Dalmatians (1996),0.087931,0.148903,0.006139,0.223481,0.234459,1.000000,0.285112,0.119843,0.072399,0.029967,...,0.114968,0.077232,0.096294,0.067134,0.113224,0.184324,0.054024,0.047804,0.156932,0.078734
101 Dalmatians (One Hundred and One Dalmatians) (1961),0.224052,0.142141,-0.016835,0.211473,0.119132,0.285112,1.000000,0.134037,0.017264,-0.046277,...,0.120302,0.125816,0.049818,0.083650,0.171654,0.274260,0.077594,0.085606,0.248820,0.171118
12 Angry Men (1957),0.034223,0.159756,0.031704,0.011784,0.059187,0.119843,0.134037,1.000000,0.132979,0.058862,...,0.104518,0.028415,0.079905,0.241435,0.144652,0.122107,0.056742,-0.001708,0.074306,0.102744
12 Years a Slave (2013),0.009277,0.135486,-0.024275,0.091964,-0.025882,0.072399,0.017264,0.132979,1.000000,0.249931,...,0.024045,0.038127,0.013786,0.190366,0.104150,0.017351,0.063325,0.002528,0.037469,0.004213
127 Hours (2010),0.008331,0.200135,0.272943,0.043383,0.089328,0.029967,-0.046277,0.058862,0.249931,1.000000,...,0.223135,0.154299,0.012907,0.364841,0.198926,0.091416,0.225747,0.128638,0.153335,0.002912

### *Below algorithm takes two arguments, viz. Name of movie & Rating of user for the same movie.*

*Interesting thing about below code is, we can set threshold for rating, below which movie is considered to be bad. So if user rates movie lesser than threshold set, machine has to recommend a movie which is totally different in nature than what he watched.*

*Logic is, we multiply whole series corresponding to movie by a negative number if rating is lesser than threshold. Hence we get recomendation which are different than the movie rated. If the rating of movie is more than the threshold then we recomend the similar movies.*

In [122]:
def get_similar_movies_pearson(movies_name, rating):
    similar_score= item_simlilarity_df[movies_name]*(rating-2.5)
    similar_score= similar_score.sort_values(ascending=False)
    return similar_score.head(10)

In [127]:
#Keeping the list of movies watched and respective rating in tuples. 
user= [('Toy Story (1995)',1),('127 Hours (2010)',4.5)]
        
similar_movie= pd.DataFrame()

for movie, rating in user:
    similar_movie= similar_movie.append(get_similar_movies_pearson(movie, rating), ignore_index=True)
    
# Recommending top 10 movies.

similar_movie.head(10)
similar_movie.sum().sort_values(ascending=False).head(10)

127 Hours (2010)            2.000000
Up in the Air (2009)        0.845168
The Hateful Eight (2015)    0.827891
Warm Bodies (2013)          0.813036
Cloud Atlas (2012)          0.796159
Drive (2011)                0.788583
Moneyball (2011)            0.753223
Shutter Island (2010)       0.752952
Zodiac (2007)               0.729682
Mist, The (2007)            0.711407
dtype: float64

### Below function does not take rating as an argument. Only takes name of movie. Recomends user based on similarity of movies (Item to Item similarity).

In [70]:
def get_similar_test(movies_name):
    similar_score= item_simlilarity_df[movies_name]
    similar_score= similar_score.sort_values(ascending=False)
    return similar_score

In [72]:
user= ['Toy Story (1995)']
        
similar_movie_test= pd.DataFrame()

for movie in user:
    similar_movie= similar_movie_test.append(get_similar_test(movie), ignore_index=True)
    
    
similar_movie.head(10)
similar_movie.sum().sort_values(ascending=False).head(10)

Toy Story (1995)                              1.000000
Toy Story 2 (1999)                            0.461761
Groundhog Day (1993)                          0.361540
Independence Day (a.k.a. ID4) (1996)          0.358473
Willy Wonka & the Chocolate Factory (1971)    0.357314
Mission: Impossible (1996)                    0.352847
Nutty Professor, The (1996)                   0.350295
Bug's Life, A (1998)                          0.345431
Lion King, The (1994)                         0.344248
Babe (1995)                                   0.341136
dtype: float64

## Cosine similarity

In [69]:
#Importing packages.

from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

In [9]:

movies_2= movies.copy()


movies_2.sample(4)

,movieId,title,genres
4800,7153,"Lord of the Rings: The Return of the King, The...",Action|Adventure|Drama|Fantasy
5444,26038,Teacher's Pet (1958),Comedy|Romance
7287,75389,"Burrowers, The (2008)",Horror|Thriller|Western
1274,1689,"Man Who Knew Too Little, The (1997)",Comedy|Crime|Thriller

In [10]:
movies_2.isna().sum()

movieId    0
title      0
genres     0
dtype: int64

In [11]:
# putting blank spaces in palce of null values
movies_2['genres'] = movies['genres'].fillna('')

In [36]:
data_pivot=ratings_1.pivot_table(index="userId", columns= "title", values="rating", aggfunc="sum")

data_pivot

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [38]:
data_pivot_2= data_pivot.dropna(thresh=10, axis= 1).fillna(0)

In [39]:
data_pivot_2.shape

(610, 2269)

In [41]:
data_pivot_2.sample(5)

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
451,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
196,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
301,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
513,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Since we have replaced NA values with 0, we need to standardize all ratings to make sure that there is no bias. 

### New_Rating= (Rating- Mean_Rating)/(Max.Rating-Min.Rating)
### It does mean of each row =0, and range =1.

In [62]:
def standardize(row):
    new_row= (row- row.mean() )/ (row.max()- row.min())
    return new_row

In [63]:
data_pivot_STD= data_pivot_2.apply(standardize, axis=1)

In [64]:
data_pivot_STD.describe()

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
count,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,...,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000
mean,-0.024232,0.008612,-0.024797,0.020249,-0.027092,0.005008,0.007418,0.035604,-0.022921,-0.019241,...,-0.017905,-0.022957,-0.022429,0.004397,0.025611,0.020372,-0.000842,-0.013923,-0.020006,-0.015216
std,0.110297,0.182714,0.117236,0.196780,0.094055,0.162516,0.167353,0.240475,0.120248,0.133030,...,0.117783,0.121350,0.119292,0.165486,0.207841,0.187471,0.173969,0.138716,0.103180,0.123003
min,-0.309343,-0.326752,-0.515425,-0.290613,-0.342838,-0.515425,-0.342838,-0.515425,-0.515425,-0.515425,...,-0.342838,-0.342838,-0.326752,-0.289996,-0.326752,-0.342838,-0.342838,-0.309343,-0.342838,-0.289996
25%,-0.044204,-0.039786,-0.045538,-0.038872,-0.044987,-0.039224,-0.039224,-0.038872,-0.045538,-0.044204,...,-0.041880,-0.045284,-0.043433,-0.039202,-0.038519,-0.036260,-0.041593,-0.041957,-0.041880,-0.041417
50%,-0.020293,-0.017607,-0.020293,-0.017100,-0.020428,-0.017320,-0.017607,-0.016725,-0.020117,-0.019943,...,-0.019326,-0.020428,-0.020117,-0.017475,-0.017056,-0.016637,-0.018488,-0.019678,-0.018951,-0.018643
75%,-0.010665,-0.009267,-0.010665,-0.008991,-0.010665,-0.009189,-0.009267,-0.008781,-0.010599,-0.010544,...,-0.010192,-0.010665,-0.010665,-0.009343,-0.008814,-0.008767,-0.009795,-0.010115,-0.010115,-0.009927
max,0.987616,0.984971,0.960159,0.991670,0.744733,0.987483,0.818466,0.992816,0.858043,0.995769,...,0.909431,0.958572,0.915822,0.890084,0.993940,0.941119,0.952799,0.935566,0.774923,0.961393

In [76]:
data_pivot_STD

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,-0.081534,-0.081534,-0.081534,-0.081534,-0.081534,-0.081534,-0.081534,-0.081534,-0.081534,-0.081534,...,-0.081534,-0.081534,-0.081534,-0.081534,-0.081534,-0.081534,-0.081534,-0.081534,-0.081534,0.718466
2,-0.009123,-0.009123,-0.009123,-0.009123,-0.009123,-0.009123,-0.009123,-0.009123,-0.009123,-0.009123,...,-0.009123,-0.009123,-0.009123,-0.009123,0.590877,-0.009123,-0.009123,-0.009123,-0.009123,-0.009123
3,-0.003129,-0.003129,-0.003129,-0.003129,-0.003129,-0.003129,-0.003129,-0.003129,-0.003129,-0.003129,...,-0.003129,-0.003129,-0.003129,-0.003129,-0.003129,-0.003129,-0.003129,-0.003129,-0.003129,-0.003129
4,-0.056677,-0.056677,-0.056677,-0.056677,-0.056677,-0.056677,-0.056677,0.943323,-0.056677,-0.056677,...,-0.056677,-0.056677,-0.056677,-0.056677,-0.056677,-0.056677,-0.056677,-0.056677,-0.056677,-0.056677
5,-0.014103,-0.014103,-0.014103,-0.014103,-0.014103,-0.014103,-0.014103,-0.014103,-0.014103,-0.014103,...,-0.014103,-0.014103,-0.014103,-0.014103,-0.014103,-0.014103,-0.014103,-0.014103,-0.014103,-0.014103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,-0.204363,-0.204363,-0.204363,-0.204363,-0.204363,-0.204363,-0.204363,-0.204363,-0.204363,-0.204363,...,-0.204363,-0.204363,-0.204363,-0.204363,-0.204363,-0.204363,-0.204363,-0.204363,-0.204363,-0.204363
607,-0.057030,-0.057030,-0.057030,-0.057030,-0.057030,-0.057030,-0.057030,-0.057030,-0.057030,-0.057030,...,-0.057030,-0.057030,-0.057030,-0.057030,-0.057030,-0.057030,-0.057030,-0.057030,-0.057030,-0.057030
608,-0.208594,-0.208594,-0.208594,-0.208594,-0.208594,-0.208594,-0.208594,-0.208594,-0.208594,-0.208594,...,-0.208594,-0.208594,-0.208594,-0.208594,-0.208594,0.391406,-0.208594,0.691406,0.491406,-0.208594
609,-0.009696,-0.009696,-0.009696,-0.009696,-0.009696,-0.009696,-0.009696,-0.009696,-0.009696,-0.009696,...,-0.009696,-0.009696,-0.009696,-0.009696,-0.009696,-0.009696,-0.009696,-0.009696,-0.009696,-0.009696
610,-0.257074,0.442926,0.542926,-0.257074,-0.257074,-0.257074,-0.257074,-0.257074,-0.257074,0.542926,...,0.442926,-0.257074,-0.257074,0.742926,0.442926,0.542926,0.542926,-0.257074,0.142926,-0.257074

In [70]:
item_similarity= cosine_similarity(data_pivot_STD.T)

In [72]:
print(item_similarity)

[[ 1.         -0.06098864  0.03443636 ...  0.12064134 -0.01732247
   0.30103163]
 [-0.06098864  1.          0.04642103 ... -0.08482738  0.08546491
  -0.01434839]
 [ 0.03443636  0.04642103  1.         ...  0.15271754  0.06410482
  -0.02841811]
 ...
 [ 0.12064134 -0.08482738  0.15271754 ...  1.          0.02629372
   0.02146559]
 [-0.01732247  0.08546491  0.06410482 ...  0.02629372  1.
  -0.0915215 ]
 [ 0.30103163 -0.01434839 -0.02841811 ...  0.02146559 -0.0915215
   1.        ]]

In [77]:
item_similarity_df= pd.DataFrame(item_similarity, index= data_pivot_STD.columns, columns=data_pivot_STD.columns )

In [78]:
item_similarity_df

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
title,,,,,,,,,,,,,,,,,,,,,
"'burbs, The (1989)",1.000000,-0.060989,0.034436,0.003829,0.061243,0.003781,0.087583,-0.083513,0.055424,0.023398,...,-0.090490,0.021863,0.112009,-0.036250,-0.090327,-0.182038,-0.050625,0.120641,-0.017322,0.301032
(500) Days of Summer (2009),-0.060989,1.000000,0.046421,0.178642,0.052386,0.042827,0.009611,0.081224,0.042715,0.111007,...,0.269058,0.070717,-0.065748,0.300587,0.256182,0.116394,0.141009,-0.084827,0.085465,-0.014348
10 Cloverfield Lane (2016),0.034436,0.046421,1.000000,-0.121979,0.210407,-0.048946,-0.135296,-0.063093,0.060842,0.303096,...,0.189254,0.122335,-0.007675,0.128034,0.084969,0.013525,0.287933,0.152718,0.064105,-0.028418
10 Things I Hate About You (1999),0.003829,0.178642,-0.121979,1.000000,0.074775,0.111411,0.090178,-0.071399,-0.020895,-0.068452,...,0.074122,-0.025386,-0.011605,-0.076090,0.028712,0.152580,-0.053995,-0.017746,-0.056072,-0.042109
"10,000 BC (2008)",0.061243,0.052386,0.210407,0.074775,1.000000,0.138329,-0.054262,-0.069755,0.059203,0.128757,...,0.180786,0.102020,0.094042,-0.024007,0.032399,0.003408,0.048182,0.036816,0.148462,0.028617
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zoolander (2001),-0.182038,0.116394,0.013525,0.152580,0.003408,0.026199,0.122808,0.011316,-0.177909,-0.088847,...,0.078654,0.052120,-0.247679,0.047838,0.154124,1.000000,-0.042231,-0.104988,0.110876,-0.121666
Zootopia (2016),-0.050625,0.141009,0.287933,-0.053995,0.048182,-0.025296,-0.026202,-0.014322,0.035006,0.192442,...,0.191022,0.104822,-0.062013,0.096200,0.194899,-0.042231,1.000000,-0.041019,0.104365,-0.073608
eXistenZ (1999),0.120641,-0.084827,0.152718,-0.017746,0.036816,-0.066489,-0.072496,-0.120951,-0.040748,0.075020,...,-0.065406,-0.058596,0.080044,-0.042893,-0.113109,-0.104988,-0.041019,1.000000,0.026294,0.021466
xXx (2002),-0.017322,0.085465,0.064105,-0.056072,0.148462,0.025273,0.067796,-0.081512,-0.003251,0.098119,...,0.116242,0.109242,-0.030505,-0.028767,-0.021116,0.110876,0.104365,0.026294,1.000000,-0.091522
¡Three Amigos! (1986),0.301032,-0.014348,-0.028418,-0.042109,0.028617,-0.038995,0.013302,-0.017828,-0.032925,-0.053673,...,-0.044737,-0.018788,0.072496,-0.008289,-0.025419,-0.121666,-0.073608,0.021466,-0.091522,1.000000

In [114]:
# Lets create recomendation 

def get_sim_movie_cosine(movie, rating):
    similar_score= item_similarity_df[movie]*rating
    similar_score= similar_score.sort_values(ascending=False)
    return similar_score

"""This method works fine if only user likes the movie he entered. What if user does not like a movie?
Then we dont want to suggest same kind of movies he watched. We need to set threshold value, below which we consider as bad movie.
We mupltiply the consine similarity scores by difference factor, so that we get appropriate movie recomendation
    
"""

'This method works fine if only user likes the movie he entered. What if user does not like a movie?\nThen we dont want to suggest same kind of movies he watched. We need to set threshold value, below which we consider as bad movie.\nWe mupltiply the consine similarity scores by difference factor, so that we get appropriate movie recomendation\n    \n'

In [115]:

print(get_sim_movie_cosine('10,000 BC (2008)',5))

title
10,000 BC (2008)                                         5.000000
Green Lantern (2011)                                     2.363007
Get Him to the Greek (2010)                              2.042208
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)    2.019879
Resident Evil: Extinction (2007)                         2.018358
                                                           ...
Godfather, The (1972)                                   -1.497394
Ghostbusters (a.k.a. Ghost Busters) (1984)              -1.544252
Reservoir Dogs (1992)                                   -1.552613
Wizard of Oz, The (1939)                                -1.570307
Groundhog Day (1993)                                    -1.650677
Name: 10,000 BC (2008), Length: 2269, dtype: float64

In [121]:
"""We are setting threshold as 2.5, if user rates any movie lesser than that we understand that we 
should recommend other type of movie"""


def get_sim_movie_cosine_robust(movie, rating):
    similar_score= item_similarity_df[movie]*(rating-2.5) # Setting rating=2.5 as threshold.
    similar_score= similar_score.sort_values(ascending=False)
    return similar_score.head(10)

## Testing of codes

In [120]:
get_sim_movie_cosine_robust('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',4)

title
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)                          1.500000
30 Days of Night (2007)                                                        0.742018
xXx (2002)                                                                     0.714583
Smokin' Aces (2006)                                                            0.702361
Snakes on a Plane (2006)                                                       0.701456
Fast & Furious (Fast and the Furious 4, The) (2009)                            0.694214
Ultraviolet (2006)                                                             0.670543
S.W.A.T. (2003)                                                                0.666634
The Scorpion King (2002)                                                       0.661367
Fast and the Furious: Tokyo Drift, The (Fast and the Furious 3, The) (2006)    0.660264
Name: 2 Fast 2 Furious (Fast and the Furious 2, The) (2003), dtype: float64

In [128]:
get_similar_movies_pearson('2 Fast 2 Furious (Fast and the Furious 2, The) (2003)',4)

title
2 Fast 2 Furious (Fast and the Furious 2, The) (2003)    1.500000
xXx (2002)                                               0.805254
Snakes on a Plane (2006)                                 0.770573
Die Another Day (2002)                                   0.768192
Fast and the Furious, The (2001)                         0.749498
Kung Fu Hustle (Gong fu) (2004)                          0.737842
S.W.A.T. (2003)                                          0.728790
Wanted (2008)                                            0.726768
Rat Race (2001)                                          0.725977
The Scorpion King (2002)                                 0.722404
Name: 2 Fast 2 Furious (Fast and the Furious 2, The) (2003), dtype: float64

### The end